<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
body{
  background-color: #8EA8C3;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #406E8E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
<script src="webcam.js"></script>
</head>
<body>
<h2>Sitio Cripto</h2>
  <div class="container">
    <form action="/api/verify" method="post">
    <label for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="Enter Username" name="userId" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="secret" required id="psw">
        <button id='verificar' type="submit" value="verificar" name='verificar'>Iniciar Sesión</button>
    </form>
  </div>

  <div class="container">
    <form action="/api/register" method="post">
        <button id='verificar' type="submit" value="verificar" name='verificar'>Registrarme</button>
    </form>
  </div>

  <div class="container">
    <!--<button onclick="takeSnapshot()">Tomar foto</button>-->
    <a href="javascript:void(take_snapshot())"><button>Tomar Foto</button></a>
    <div id="my_result"></div>
  </div>

  <div id="my_camera" style="width:320px; height:240px;"></div>
<div id="my_result"></div>

  <script language="JavaScript">
    Webcam.attach( '#my_camera' );
    
    function take_snapshot() {
      Webcam.snap( function(data_uri) {
        document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
      } );
    }
  </script>
  
</body>
</html>
